blockchain_iot_security.json
[{"id":"5da9f3fd.3b1cdc","type":"tab","label":"HTTP-REST Flow","disabled":false,"info":"HTTP Rest API"},{"id":"3ad23046.45ea7","type":"tab","label":"MQTT Flow","disabled":true,"info":""},{"id":"3d5f7eac.66fcb2","type":"tab","label":"MQTT DASHBOARD CONTROL","disabled":false,"info":""},{"id":"490ec607.07f5d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eb281c6b.f5f86","type":"node-ecs","z":"","host":"10.230.116.153","port":"8080"},{"id":"3abf8460.e1363c","type":"node-ecs","z":"","host":"10.230.116.153","port":"8080"},{"id":"a03dff9.83a86","type":"mqtt-broker","z":"","name":"Mosquito (10.230.116.155)","broker":"10.230.116.155","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eeb6d298.b590b","type":"node-ecs","z":"","host":"10.230.116.153","port":"8080"},{"id":"923c22f0.a0ba4","type":"mqtt-broker","z":"","name":"Mosquito (10.230.116.155)","broker":"10.230.116.155","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69520ca0.f7b014","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b2686d9.94ef68","type":"ui_group","z":"","name":"Discrete","tab":"814e22e5.1ee92","disp":true,"width":"6","collapse":false},{"id":"6c5282a7.9a7e6c","type":"ui_group","z":"","name":"Analog","tab":"814e22e5.1ee92","disp":true,"width":"6","collapse":false},{"id":"814e22e5.1ee92","type":"ui_tab","z":"","name":"Demo","icon":"dashboard"},{"id":"daa6067b.8ae548","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"f4b63d5c.02b09","type":"ui_group","z":"","name":"Controls","tab":"daa6067b.8ae548","disp":true,"width":"6","collapse":false},{"id":"1d6f6216.dcad6e","type":"ui_group","z":"","name":"Sensors","tab":"daa6067b.8ae548","disp":true,"width":"6","collapse":false},{"id":"5a641f92.dd1bc","type":"ui_group","z":"","name":"Object Buckets Charts","tab":"daa6067b.8ae548","disp":true,"width":"6","collapse":false},{"id":"a279baaf.78d448","type":"ui_group","z":"","name":"Billing Infos Chart oh oh ","tab":"814e22e5.1ee92","disp":true,"width":"6","collapse":false},{"id":"13d79fca.fca6","type":"ui_tab","z":"","name":"ECS Dashboard","icon":"dashboard"},{"id":"41b30a28.8dfc34","type":"ui_group","z":"","name":"Bucket Infos","tab":"13d79fca.fca6","disp":true,"width":"6","collapse":false},{"id":"49efead0.576eb4","type":"ui_group","z":"","name":"Billing Infos","tab":"13d79fca.fca6","disp":true,"width":"6","collapse":false},{"id":"65e5a736.9d2be8","type":"node-red-file-config","z":"","filename":"sensor-data.txt","filepath":"/opt/node-red/ksi","interval":"5s","size":"10M"},{"id":"f2cad917.b9e918","type":"http in","z":"5da9f3fd.3b1cdc","name":"getBillingInfos","url":"/billingInfos","method":"get","upload":false,"swaggerDoc":"","x":370,"y":180,"wires":[["52e3979f.87e998"]],"outputLabels":["billing"]},{"id":"9e24729c.2375b","type":"http response","z":"5da9f3fd.3b1cdc","name":"","statusCode":"","headers":{},"x":1270,"y":500,"wires":[]},{"id":"a30fb095.db15","type":"http in","z":"5da9f3fd.3b1cdc","name":"getObjectBuckets","url":"/objectBuckets","method":"get","upload":false,"swaggerDoc":"","x":360,"y":260,"wires":[["6bf145f8.d1aa4c"]]},{"id":"a2159742.7a6468","type":"http in","z":"5da9f3fd.3b1cdc","name":"getNamespaceDetails","url":"/namespaces/details","method":"get","upload":false,"swaggerDoc":"","x":340,"y":340,"wires":[["86266564.f2dc68"]]},{"id":"36a04795.0c7138","type":"http in","z":"5da9f3fd.3b1cdc","name":"getnamespaceQuotas","url":"/namespace/quotas","method":"get","upload":false,"swaggerDoc":"","x":340,"y":420,"wires":[["8cde428.a8a97c"]]},{"id":"f5a68e41.1e406","type":"http in","z":"5da9f3fd.3b1cdc","name":"getVdcDetails","url":"/vdc/details","method":"get","upload":false,"swaggerDoc":"","x":370,"y":500,"wires":[["524e685f.3cb8e8"]]},{"id":"6be50e9d.c4d93","type":"http in","z":"5da9f3fd.3b1cdc","name":"getBucketOwners","url":"/vdc/bucketOwners","method":"get","upload":false,"swaggerDoc":"","x":350,"y":580,"wires":[["fb75475d.6e97e8"]]},{"id":"25907ee4.11a012","type":"http in","z":"5da9f3fd.3b1cdc","name":"getObjectDatas","url":"/objects/datas","method":"get","upload":false,"swaggerDoc":"","x":360,"y":660,"wires":[["9355b254.bc634"]]},{"id":"6be2f99b.811538","type":"http in","z":"5da9f3fd.3b1cdc","name":"getObjectVersions","url":"/objects/versions","method":"get","upload":false,"swaggerDoc":"","x":350,"y":740,"wires":[["729b7e4c.67fcd"]]},{"id":"6340a141.5d6d6","type":"http in","z":"5da9f3fd.3b1cdc","name":"getObjectsModified","url":"/objects/modified","method":"get","upload":false,"swaggerDoc":"","x":350,"y":820,"wires":[["1187c45b.5ffcdc"]]},{"id":"e587f3ac.bca7a","type":"node-red-ecs","z":"5da9f3fd.3b1cdc","name":"ECS Host","server":"eeb6d298.b590b","x":1080,"y":500,"wires":[["9e24729c.2375b"]]},{"id":"52e3979f.87e998","type":"change","z":"5da9f3fd.3b1cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/mqtt/billings/billinginfos","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":180,"wires":[["e587f3ac.bca7a"]]},{"id":"6bf145f8.d1aa4c","type":"change","z":"5da9f3fd.3b1cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/mqtt/billings/objectbuckets","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":260,"wires":[["e587f3ac.bca7a"]]},{"id":"86266564.f2dc68","type":"change","z":"5da9f3fd.3b1cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/mqtt/namespaces/details","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":340,"wires":[["e587f3ac.bca7a"]]},{"id":"8cde428.a8a97c","type":"change","z":"5da9f3fd.3b1cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/mqtt/namespaces/quotas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":420,"wires":[["e587f3ac.bca7a"]]},{"id":"524e685f.3cb8e8","type":"change","z":"5da9f3fd.3b1cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/mqtt/vdc/vdcDetails","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[["e587f3ac.bca7a"]]},{"id":"fb75475d.6e97e8","type":"change","z":"5da9f3fd.3b1cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/mqtt/vdc/bucketOwners","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":580,"wires":[["e587f3ac.bca7a"]]},{"id":"9355b254.bc634","type":"change","z":"5da9f3fd.3b1cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/mqtt/objects/datas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":660,"wires":[["e587f3ac.bca7a"]]},{"id":"729b7e4c.67fcd","type":"change","z":"5da9f3fd.3b1cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/mqtt/objects/versions","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":740,"wires":[["e587f3ac.bca7a"]]},{"id":"1187c45b.5ffcdc","type":"change","z":"5da9f3fd.3b1cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/mqtt/objects/modified","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":820,"wires":[["e587f3ac.bca7a"]]},{"id":"d0fcc7da.ef6958","type":"mqtt in","z":"3ad23046.45ea7","name":"ECS-sensors","topic":"ecs/#","qos":"2","broker":"923c22f0.a0ba4","x":110,"y":340,"wires":[["f1db0d24.6369"]]},{"id":"95862349.a613d","type":"ui_text","z":"3ad23046.45ea7","group":"49efead0.576eb4","order":0,"width":0,"height":0,"name":"Namespace Billing Infos","label":"Namespace Billing Infos","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":160,"wires":[]},{"id":"f1db0d24.6369","type":"function","z":"3ad23046.45ea7","name":"Select topic","func":"node.log(msg.topic)\nif (msg.topic===\"ecs/billing_infos\") {\n    return [msg,null];\n} else \nif (msg.topic===\"ecs/object_buckets\") {\n    return [null,msg];\n}\nreturn;","outputs":2,"noerr":0,"x":310,"y":340,"wires":[["9614c081.7a2e2"],["4c750268.1cb48c"]]},{"id":"6dd75de4.c3e594","type":"ui_chart","z":"3ad23046.45ea7","name":"Billing Infos Total Size Chart","group":"49efead0.576eb4","order":0,"width":"6","height":"6","label":"Billing Infos Total Size Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"useOldStyle":false,"x":840,"y":280,"wires":[[],[]]},{"id":"ca1e6999.ac84f8","type":"ui_text","z":"3ad23046.45ea7","group":"41b30a28.8dfc34","order":0,"width":0,"height":0,"name":"Namespace Object Buckets","label":"Namespace Object Buckets","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":520,"wires":[]},{"id":"85f9ac95.f6a13","type":"ui_chart","z":"3ad23046.45ea7","name":"Object Buckets Notification Size Chart","group":"41b30a28.8dfc34","order":0,"width":"6","height":"6","label":"Object Buckets Notification Size Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"useOldStyle":false,"x":870,"y":400,"wires":[[],[]]},{"id":"a4812e43.9765a","type":"change","z":"3ad23046.45ea7","name":"Set Billing Info","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.totalobjects","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":160,"wires":[["6720918.7c5b97"]]},{"id":"d32fe99b.817708","type":"change","z":"3ad23046.45ea7","name":"Get TotalSize","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.totalsize","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["6dd75de4.c3e594"]]},{"id":"c0328b0b.5bf9a8","type":"change","z":"3ad23046.45ea7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.totalobjects","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["85f9ac95.f6a13"]]},{"id":"c3f68bc.a33ad78","type":"change","z":"3ad23046.45ea7","name":"Set Billing Objects Buckets","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.notificationsize","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["ca1e6999.ac84f8"]]},{"id":"d564bead.016e5","type":"mqtt in","z":"3d5f7eac.66fcb2","name":"Sensors","topic":"sensors/#","qos":"2","broker":"923c22f0.a0ba4","x":160,"y":220,"wires":[["43fd1d73.7b9b54","30f04af.c1e16b6"]]},{"id":"a2d68ebf.a1d2d","type":"ui_text","z":"3d5f7eac.66fcb2","group":"1d6f6216.dcad6e","order":0,"width":0,"height":0,"name":"Main Door","label":"Main Door","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":140,"wires":[]},{"id":"52934d19.5a74a4","type":"ui_text","z":"3d5f7eac.66fcb2","group":"1d6f6216.dcad6e","order":0,"width":0,"height":0,"name":"Light","label":"Light","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":280,"wires":[]},{"id":"30f04af.c1e16b6","type":"function","z":"3d5f7eac.66fcb2","name":"Select Topic","func":"node.log(\"Select Sencors Topic\")\nif (msg.topic===\"sensors/main-door\") {\n    return [msg, null];\n}\nif (msg.topic===\"sensors/main-light\") {\n    return [null,msg];\n}\n\nreturn;","outputs":2,"noerr":0,"x":390,"y":220,"wires":[["a2d68ebf.a1d2d"],["52934d19.5a74a4"]]},{"id":"ffab111a.02aac","type":"mqtt out","z":"3d5f7eac.66fcb2","name":"","topic":"","qos":"","retain":"","broker":"923c22f0.a0ba4","x":580,"y":520,"wires":[]},{"id":"43fd1d73.7b9b54","type":"ui_switch","z":"3d5f7eac.66fcb2","name":"Light Switch","label":"Light Switch","group":"f4b63d5c.02b09","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"sensors/main-light/control","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":180,"y":480,"wires":[["ffab111a.02aac"]]},{"id":"2b7afa31.9a5676","type":"ui_button","z":"3d5f7eac.66fcb2","name":"Open Door ","group":"f4b63d5c.02b09","order":0,"width":0,"height":0,"passthru":false,"label":" Open Door","color":"","bgcolor":"#000000","icon":"touch_app","payload":"OPEN","payloadType":"str","topic":"sensors/main-door/control","x":180,"y":600,"wires":[["ffab111a.02aac"]]},{"id":"ff54aa28.d9d858","type":"ui_button","z":"3d5f7eac.66fcb2","name":"Close Door","group":"f4b63d5c.02b09","order":0,"width":0,"height":0,"passthru":false,"label":"Close Door ","color":"","bgcolor":"","icon":"touch_app","payload":"CLOSED","payloadType":"str","topic":"sensors/main-door/control","x":180,"y":700,"wires":[["ffab111a.02aac"]]},{"id":"9614c081.7a2e2","type":"json","z":"3ad23046.45ea7","name":"","property":"payload","action":"","pretty":false,"x":330,"y":160,"wires":[["a4812e43.9765a","d32fe99b.817708","da08878.40a5b78"]]},{"id":"4c750268.1cb48c","type":"json","z":"3ad23046.45ea7","name":"","property":"payload","action":"","pretty":false,"x":330,"y":520,"wires":[["c3f68bc.a33ad78","c0328b0b.5bf9a8","d37089c8.3ec5a8"]]},{"id":"da08878.40a5b78","type":"change","z":"3ad23046.45ea7","name":"Get TotalObjects","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.totalobjects","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":220,"wires":[["36e8472e.7c9f28"]]},{"id":"36e8472e.7c9f28","type":"ui_chart","z":"3ad23046.45ea7","name":"Billing Infos Total Objects Chart","group":"49efead0.576eb4","order":0,"width":"6","height":"6","label":"Billing Infos Total Objects Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"useOldStyle":false,"x":850,"y":220,"wires":[[],[]]},{"id":"d37089c8.3ec5a8","type":"change","z":"3ad23046.45ea7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":460,"wires":[["5286a473.f9852c"]]},{"id":"5286a473.f9852c","type":"ui_chart","z":"3ad23046.45ea7","name":"","group":"41b30a28.8dfc34","order":0,"width":"6","height":"6","label":"Objects Bucket Block Size Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"useOldStyle":false,"x":850,"y":460,"wires":[[],[]]},{"id":"6720918.7c5b97","type":"switch","z":"3ad23046.45ea7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":160,"wires":[["95862349.a613d"]]},{"id":"7dbc749a.7df85c","type":"switch","z":"3ad23046.45ea7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":520,"wires":[[]]},{"id":"c86e5d8e.1a04e","type":"node-red-file-generator","z":"490ec607.07f5d8","name":"File Generator","server":"65e5a736.9d2be8","x":600,"y":320,"wires":[["780c89c3.78df88"]]},{"id":"cde9e057.51f5a","type":"mqtt in","z":"490ec607.07f5d8","name":"","topic":"ecs/#","qos":"2","broker":"a03dff9.83a86","x":230,"y":460,"wires":[["c86e5d8e.1a04e"]]},{"id":"780c89c3.78df88","type":"debug","z":"490ec607.07f5d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":480,"wires":[]}]